<!DOCTYPE html>
<html lang="ro"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<nav class="navbar" th:fragment="navbar">

    <a th:href="@{/}" class="navbar-brand">
        LibraryManagement
    </a>

    <div class="navbar-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/books}">Cărți</a>
        <a th:href="@{/authors}">Autori</a>
        <a th:href="@{/categories}">Categorii</a>
        <a th:href="@{/publishers}">Edituri</a>

        <a th:href="@{/users}"
           sec:authorize="hasRole('ADMIN')">
            Utilizatori
        </a>

        <a th:href="@{/loans}">Împrumuturi</a>

        <form th:action="@{/logout}"
              method="post"
              style="display: inline;">

            <button type="submit"
                    class="button button-danger">
                Logout
            </button>

        </form>
    </div>

</nav>

</body>
</html>